<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>[vue-shapes]</title>
    <style type="text/css">
        html,
        body {
            height: 90%;
        }

        body {
            margin: 0px;
        }
    </style>
</head>

<body>
    <div id="app"></div>
</body>

</html>